body{
    background-image: url(../imagenes/fondo1.jpg);
    background-attachment: fixed;
    background-size: 70%;
    margin: 0px;

}

#banner{
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    width: 100%;
    height: 100%;

}

.sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    

}

.img_banner2{
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.contenedor{
    position:relative;
    top: auto;
    margin: auto;
    background-color: rgb(231, 227, 238);
    width: 90%;
    height: 1000px;
}

h1
{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: center;
}
.title{


    background-color: rgb(53, 0, 97);
    width: 100%;
}
.video{
    position: absolute;
    top: 70px;
    left: 20px;
    width: 30%;
    height: 300px;
}

.texto1{
    
    position: absolute;
    top: 60px;
    left: 33%;
    width: 33%;
    height: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: justify;
}


.imagen{
    position: absolute;
    top: 70px;
    left: 68%;
    width: 30%;
    height: 100px;
}

.img1{
    border-radius: 15px;
    box-shadow: 0px 2px 3px #696969;
}

.texto2{

    position: absolute;
    top: 390px;
    left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: justify;
    width: 56%;
    height: 100px;
}
.link{
    text-decoration: none;
}
.link:hover{
    color: rgb(0, 217, 255);
    font-size: 20px;
}

.mapa{
    position: absolute;
    top: 390px;
    left: 60%;
    width: 38%;
    height: 350px;
}

#footer{
    width: 100%;
    height: 100px;
}

.chat
{
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: aliceblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    vertical-align: auto;
    border-color: aliceblue;
    background-color: rgb(53, 0, 97);
    width: 70px;
    height: 70px; 
    border-radius: 50%;
}